html {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 3em;
	text-align: center;
}
input[type="text"] {
    font-size:25px;
}
a {
	font-size: 1.5em;
}
h1, h2, p {
	text-align: center;
}
h1 {
	display: inline;
}
.wrap {
	text-align: center;
}
#red {
	color: red;
}
#orange {
	color: orange;
}
#yellow {
	color: #FF0;
}
#green {
	color: green;
}
#blue {
	color: blue;
}
#purple {
	color: purple;
}
input {
	padding: 1%;
	margin: 1%
}
.open, button {
	color: rgb(140, 0, 0);
	padding: 32px 48px;
	font-size: x-large;
	background-color: #FFD;
	border: none;
	border: 2px solid black;
	border-radius: 15px;
	margin: 2%;

}
.open:active {
	border: none;
	border: 2px solid black;
	outline: none;
}
.open, button:hover {
	border: none;
	border: 2px solid black;
	cursor: pointer;
	border-radius: 25px;
}
button:hover {
	outline: none;
}
pre {
	font-size: .40em;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 40%;
}