html {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 3em;
}
h1, h2, p {
	text-align: center;
}
h1 {
	display: inline;
}
.wrap {
	text-align: center;
}
#red {
	color: red;
}
#orange {
	color: orange;
}
#yellow {
	color: #FF0;
}
#green {
	color: green;
}
#blue {
	color: blue;
}
#purple {
	color: purple;
}
pre {
	font-size: .40em;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 40%;
}