input {
    display: block;
    width: 80%;
    height: 80%;
    margin-left: 5em;
}
form{
    text-align: center;
}
#wrap {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}
fieldset {
    background: green;
    width: 500px;
    
}